p.label,
label {
    margin-bottom: 0;
    color: #666;
}

input,
textarea {
    margin-bottom: 15px;
    font-family: 'Poppins';
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background-color: white;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
    margin-bottom: 23px;
    font-family: 'Poppins';
    color: #444;
    font-size: .9rem;

    &:focus {
        background-color: #e8f7ff;
        outline: 0;
    }
}

textarea {
    padding: 12px;
}

input[type="submit"],
button#modal-nay {
    line-height: 1.618;
}

a:focus, 
input:focus, 
textarea:focus, 
button:focus {
    outline: 0;
}

.wc-proceed-to-checkout .button.checkout-button {
    background-color: #548c51;
    color: white;

    &:hover {
        background-color: #5cb34b;
    }
}

.show-password-input::after {
    transform: translateY(-7px);
}

.wpcf7-form {
    input[type='text'],
    input[type='email'],
    textarea {
        margin-bottom: 0;
    }
}

h2.form_section_heading {
    font-size: 1.6rem;
    text-align: left;
    border-bottom: 1px solid #999;
    margin-top: 40px;

    &.mb-0 {
        margin-bottom: 0;
    }
}

.form_flexbox_2 {

    @media (min-width: 991px) {
        display: flex;

        & > div {
            width: 50%;
        }
    }
}

.smart_form {
    input[type="text"] {
        width: 300px;
        padding: 10px 5px;
    }

    select {
        min-width: 300px;
    }

    div.checkbox_list {

        @media (min-width: 991px) {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 25px;

            p {
                width: 50%;
            }
        }
    }
}

p.label.checkbox_list_label::after {
    content: "";
    border-bottom: 1px solid #bbb;
    width: 40px;
    padding-bottom: 5px;
    display: block;
}

p.form_submit_right {
    text-align: right;
    margin-top: 50px;
}

table.attachments_table {
    thead {
        font-weight: 700;
    }

    td.center {
        text-align: center;
    }
}

.role_select_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

    .role {
        float: left;
        width: 33%;
        padding: 10px;
        text-align: center;
        border: 1px solid #999;

        &:hover {
            background-color: lightblue;
            cursor: pointer;
        }

        &.current {
            background-color: lightblue;
        }
    }
}