p.label,
label {
    margin-bottom: 0;
    color: #666;
}

input,
textarea {
    margin-bottom: 15px;
    font-family: 'Poppins';
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background-color: white;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
    margin-bottom: 23px;
    font-family: 'Poppins';
    color: #444;
    font-size: .9rem;

    &:focus {
        background-color: #e8f7ff;
        outline: 0;
    }
}

textarea {
    padding: 12px;
}

input[type="submit"] {
    line-height: 1.618;
}

a:focus, 
input:focus, 
textarea:focus, 
button:focus {
    outline: 0;
}

.wc-proceed-to-checkout .button.checkout-button {
    background-color: #548c51;
    color: white;

    &:hover {
        background-color: #5cb34b;
    }
}