.cja_splash {
    background: url('images/splash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    position: relative;

    .col-full {
        position: relative;

        .splash_login_box {
            position: absolute;
            left: 0;
            top: 60px;
            width: 420px;
            background: #facc39ee;
            border: 3px solid black;
            border-radius: 20px;
            padding: 20px;
        }
    }

    @media (max-width: 700px) {
        background: none;
        height: unset;

        .col-full {
            
            .splash_login_box {
                position: relative;
                top: unset;
                left: unset;
                margin: 60px auto 60px auto;
            }
        }
    }
}

    .splash_login_box,
    .existing-user-login,
    .new-user-account {

        hr {
            background-color: #333;
        }

        h4 {
            text-align: center;
            width: 100%;
            font-weight: 500;
            margin-bottom: 21px;

            &.account_create {
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }

        p {
            margin-bottom: 0;
            color: #333;
        }

        input {
            margin-bottom: 20px;
            padding: 4px;
        }

        .cja_home_login {
            margin-bottom: 0;

            .topbox {
                display: flex;
                .login,
                .password {
                    padding-left: 20px;
                }
            }
        }

        .cja_home_create {
            margin-bottom: 0;
            
            
            .topbox {
                display: flex;
                
                
                .username {
                    width: 50%;
                }
            }   

            input[name='email'] {
                margin-bottom: 30px;
            }
            
            .rolebox {
                margin-bottom: 30px;
            }

            .role_option {
                color: #333;
            }
        }
    }



.cja_splash h1.header {
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
    font-size: 80px;
    font-weight: 400;
}