#masthead.site-header {
    background-color: #a2d0e6;
    /*background-color: #facc39;*/
    background-color: #3f3d5f;
    background-color: #3d485f;

    padding-top: 10px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        border-bottom-color: #555;
        padding-top: 20px;
        margin-bottom: 50px;
    
        .site-header-cart {

            @media (max-width: 991px) {
                display: none;
            }

            .cart-contents {
                color: #ccc;
                font-size: .9rem;
            }
        }

    }

    &.homepage {
        margin-bottom: 0;
    }

    p {
        color: #ccc;
    }


    .header-top {

        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 479px) {
            flex-direction: column-reverse;
        }

        form {
            margin-bottom: 0;
        }
        .header_login_form {
            display: flex;
            align-items: flex-end;

            p {
                margin-bottom: 0;
                font-size: .8rem;
            }

            input {
                margin-bottom: 0;

                &[type='text'],
                &[type='password'] {
                    padding: 5px;
                    font-size: .9rem;
                    margin-right: 10px;
                    color: #666;
                    width: 170px;
                }
            }

            @media (max-width: 479px) {
                flex-direction: column;
                align-items: center;
                display: none;

                .username,
                .password {
                    margin-bottom: 10px;
                }
            }
        }

        .header_login_button {
            @media (min-width: 480px) {
                display: none;
            }
        }

        .logged-in-message {
            float: right;
            a {
                i {
                    color: white;
                }
            }
        }

        .cja_site_title {
            font-size: 2rem;
            text-align: left;
            margin-bottom: 0;
            display: inline-block;
            color: #fff;
            font-family: 'Catamaran';
            margin-top: 17px;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }

            @media (max-width: 479px) {
                margin-bottom: 20px;
                font-size: 1.8rem;
            }
        }
    }

    ul.menu {
        li.current-menu-item > a {
            color: #ff4343;
        }
    }
}

.cja_free_ads_message {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;

    p {
        margin: 0;
        text-align: center;
        color: #666;
    }
}

.site-footer {
    background-color: #3d485f;
    color: #ccc;
    padding: 20px 0;

    .col-full {
    display: flex;
    flex-direction: row;

        .address {
            font-size: .8rem;
            width: 25%;
        }

        .links {
            font-size: .8rem;

            a {
                color: #ccc;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
