.cja_list_item {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    .cja_button,
    .cja_icon,
    .cja_spend_button {
        float: right;
        margin-left: 15px;
    }

    .cja_icon {
        font-size: 1.3rem;

        .fa-trash {
            color: #5b6c8e;
            &:hover {
                color: #101019;
            }
        }
        .fa-edit {
            color: #5b6c8e;
            &:hover {
                color: #101019;
            }
        }
        .fa-eye {
            color: #5b6c8e;
            &:hover {
                color: #101019;
            }
        }
        .fa-clock {
            color: #5b6c8e;
            &:hover {
                color: #101019;
            }
        }
    }

    .item-title {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 19px;
    }

    .item-meta {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 300;

        &.inactive span {
            color: #800;
        }

        &.active span {
            color: #506f50;
        }
    }
}

.cja_listing_item {
    //font-size: 1.2rem;
}

.cja_description p {
    color: #666;
}

.cja_pagination {
    padding: 2rem 0 1rem 0;
    text-align: center;
    clear: both;

    .page-numbers {
        display: inline-block;
        padding: 4px 8px;
        border: 1px solid black;
        margin: 0 5px;
        background-color: #5b6c8e;
        color: white;
        border-radius: 5px;

        &.dots,
        &.current {
            border: 0;
            background-color: unset;
            color: #333;
        }

        &.current {
            border: 1px solid black;
        }
    }

    a.page-numbers:hover {
        background-color: unset;
        color: #333;
    }
}

.cja_tooltip {
    position: relative;

    .tooltiptext {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: .9rem;
        text-align: center;
        background-color: #777;
        color: white;
        border-radius: 10px;
        padding: 10px 5px;
        width: 100px;
        bottom: 155%;
        left: 50%;
        margin-left: -50px;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: .8;
        transition: opacity .3s ease .8s;
    }
}