.cja-login-screen {

    width: 100%;
    display: flex;
    justify-content: space-between;

    h4 {
        text-align: center;
    }

    .existing-user-login {
        border: 1px solid #aaa;
        background-color: #facc39ed;
        border-radius: 20px;
        width: 48%;
        padding: 20px;

        &.highlight {
            border: 2px solid green;
        }
    }

    .new-user-account {
        border: 1px solid #aaa;
        background-color: #facc39ed;
        border-radius: 20px;
        width: 48%;
        padding: 20px;

        p.account-choice {
            border: 1px solid #aaa;
            padding: 20px 0px 20px 30px;
            border-radius: 20px;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 929px) {
        flex-direction: column;

        .existing-user-login {
            margin-bottom: 20px;
            width: 100%;
        }

        .new-user-account {
            width: 100%;
        }
    }
}

.hentry .entry-content .woocommerce-MyAccount-navigation ul li {
    margin-bottom: 10px;
    background-color: #3d485f;
    padding: 0 10px;
    border-radius: 5px;

    a {
        color: #ccc;
        font-size: .9rem;

        &::before {
            opacity: 1;
        }

        &:hover {
            color: white;
        }
    }

    &.is-active {

        background-color: white;
        border: 1px solid black;

        a {
            color: #3d485f;
        }
    }
}

#post-14 {
    .entry-header {
        display: none;
    }

    .entry-content {
        margin-top: 30px;

        .woocommerce-MyAccount-navigation {
            margin-top: 20px;
        }
    }
}

table.login_table {

    margin-bottom: 10px;

    tr {
        td {
            background-color: unset !important;
            padding: 5px;

            &:first-child {
                width: 10px;
            }

            p.role_main {
                
            }

            p.role_sub {
                font-size: .8rem;
            }
        }
    }

}

p.classifieds {
    font-size: .8rem;
    color: #666 !important;
    text-align: center;
    margin-top: 20px;
}