.create-ad-button {
    float: right;
    margin-left: 15px;
}

.credits-large {
    font-size: 40px;
    color: #333;
}

a.add-credits-to-cart {
    display: inline-block;
    margin-right: 30px;
    padding: 50px 20px;
    text-align: center;
    span {
        text-transform: uppercase;
        font-size: 1.7rem;
    }
}