.my-jobs-header {
    border: 1px solid #4b5b7d;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    .my-jobs-header-button {
        margin-left: 15px;
    }

    .create-advert-button {
        margin-left: auto;
    }
}



.credits-large {
    font-size: 40px;
    color: #333;
}

a.add-credits-to-cart {
    display: inline-block;
    margin-right: 30px;
    padding: 50px 20px;
    text-align: center;

    span {
        text-transform: uppercase;
        font-size: 1.7rem;
    }
}