.main-navigation {
    ul {
        li {
            a {
                color: #ccc;

                &:hover {
                    color: #fff;
                }
            }

            &:hover {
                > a {
                    color: #fff;
                }
            }

            ul {
                li,
                li:active {
                    background-color: #3d485f;

                    a:active,
                    a:visited {
                        background-color: #3d485f;
                    }
                }
            }
        }
    }
}

.main-navigation ul.menu ul li.focus {
    background-color: #3d485f !important;
}

@media (min-width: 768px) {
    .main-navigation ul.menu > li > a,
    .main-navigation ul.nav-menu > li > a {
        font-size: .9rem;
    }
}

#masthead.site-header ul.menu li.current-menu-item > a {
    color: #fff;
}

/* show the right nav section because theyre not in the same place */
#site-navigation.cja_mobile-navigation {
    @media(min-width: 768px) {
        display: none !important;
    }
}
#site-navigation.cja_desktop-navigation {
    @media(max-width: 767px) {
        display: none;
    }
}


.woocommerce-active .site-header .main-navigation {
    @media (max-width: 992px) {
        width: unset;
        text-align: center;
        float: unset;
        margin-right: 0;
    }
}

button.menu-toggle,
button.menu-toggle:hover {
    padding: 0;
    border: 0;
    background-color: unset;
    color: #ccc;
    font-size: 30px;
    margin-right: 20px;
}

button.menu-toggle:before,
button.menu-toggle::after {
    display: none;
}

.handheld-navigation .dropdown-toggle {
    color: #ccc;
}

.cja_mobile-navigation.toggled {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}