.cja_search_criteria_box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;

    p {
        font-size: .9rem;
        margin-bottom: 5px;
    }

    p.button-wrap {
        margin-top: 20px;
    }
}