#edit-slug-box {
    padding: 0 !important;
}

.admin_edit_form h2.form_section_heading {
    border-bottom: 1px solid black;
    padding: 0 0 3px 0;
    margin-top: 30px;
}

.admin_edit_form p.label {
    margin-bottom: 0;
}

.admin_edit_form .form_flexbox_2 {
    display: flex;
}

.admin_edit_form .form_flexbox_2 div {
    width: 50%;
}

.admin_edit_form input[type="text"],
.admin_edit_form select {
    width: 300px;
}

.admin_edit_form textarea {
    width: 100%;
}

.admin_edit_form .attachments_table {
    width: 100%;
}

.admin_edit_form .attachments_table td {
    width: 50%;
    padding: 15px 0;
    border-bottom: 1px dashed black;
}

.admin_edit_form .checkbox_list {
    display: flex;
    flex-wrap: wrap;
}

.admin_edit_form .checkbox_list p.checkbox_list {
    width: 50%;
}

.admin_edit_form p.checkbox_list_label {
    font-weight: 700;
    margin-top: 30px;
}

/* EDIT USER PROFILE SCREEN */

.user-rich-editing-wrap,
.user-admin-color-wrap,
.user-comment-shortcuts-wrap,
.user-admin-bar-front-wrap,
.user-language-wrap,
.user-first-name-wrap,
.user-last-name-wrap,
/*.user-nickname-wrap,*/
/*.user-display-name-wrap,*/
.user-url-wrap,
.user-description-wrap,
.user-profile-picture {
    display: none;
}

.role_select_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.role_select_box .role {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    border: 1px solid #999;
}

.role_select_box .role:hover {
    background-color: lightblue;
    cursor: pointer;
}


.role_select_box .role.current {
    background-color: lightblue;
}

/* EDIT USERS FILTER BOX */

#users_filter_form_toggle {
    padding-top: 10px;
    font-weight: 700;
    cursor: pointer;
}

#users_filter_form_toggle::before {
    content: '\25b8';
    margin-right: 10px;
    font-size: 20px;
}

#users_filter_form_toggle.open::before {
    content: '\25be';
}

#users_table_filter_form {
    display: none;
}

#search_options_display {
    clear: both;
    padding-top: 10px;
}